<!-- FOOTER -->
<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Contacto</h3>
            <p>Venta y distribución de material deportivo.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>123 Calle falsa</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+34 971 51 84 36</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categorias</h3>
            <ul class="footer-links">
              <li><a routerLink="/results" [queryParams]="{categoria: 'natacion'}" >Natación</a></li>
              <li><a routerLink="/results" [queryParams]="{categoria: 'ciclismo'}">Ciclismo</a></li>
              <li><a routerLink="/results" [queryParams]="{categoria: 'carrera'}">Carrera</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Información</h3>
            <ul class="footer-links">
              <li><a href="/home">Política de privacidad</a></li>
              <li><a href="/home">Devoluciones</a></li>
              <li><a href="/home ">Terminos & Condiciones</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Servicio</h3>
            <ul class="footer-links">
              <li><a href="shop">Ayuda</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
