<app-header></app-header>
<div class="section" id="login">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="panel">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12" id="login-form-link">
              <span style="{color: white;font-size: 20px;}">Login</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" [formGroup]="userLogin" (ngSubmit)="onSubmitLog(userLogin)" role="form"
                    style="display: block;">
                <div class="form-group">
                  <input type="text" formControlName="name" id="username" tabindex="1" class="form-control"
                         placeholder="Usuario" value="" [class.is-invalid]="userLogin.get('name').invalid && userLogin.get('name').touched">
                </div>
                <div class="form-group">
                  <input type="password" formControlName="password" id="password" tabindex="2" class="form-control"
                         placeholder="Contraseña" [class.is-invalid]="userLogin.get('password').invalid && userLogin.get('password').touched">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                             class="form-control btn btn-login" value="Log In">
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                      <a routerLink="/sign">
                        <input type="button" tabindex="4" class="form-control btn btn-login" value="Registrate">
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
