<app-header></app-header>
<div class="section" id="login">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="panel">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12" id="login-form-link">
              <span style="{color: white;font-size: 20px;}">Registrate</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" [formGroup]="registroForm" (ngSubmit)="onSubmit(registroForm)" style="display: block;">
                <div class="form-group">
                  <input type="text" formControlName="name" id="username" tabindex="1" class="form-control"
                         placeholder="Usuario" value="" [class.is-invalid]="registroForm.get('name').invalid && registroForm.get('name').touched">
                </div>
                <div class="form-group">
                  <input type="password" formControlName="password" id="password" tabindex="2" class="form-control"
                         placeholder="Contraseña" [class.is-invalid]="registroForm.get('password').invalid && registroForm.get('password').touched">
                </div>
                <div class="form-group">
                  <input type="email" formControlName="email" id="email" tabindex="2" class="form-control"
                         placeholder="Email" [class.is-invalid]="registroForm.get('email').invalid && registroForm.get('email').touched">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                             class="form-control btn btn-login" value="Registrarse">
                    </div>
                  </div>
                </div>
              </form>

              <div *ngIf="isSubmit && registroForm.invalid" class="alert alert-danger">
                <p>Los datos introducidos son incorrectos vuelva a comrpobarlo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
