<div id="bg"></div>
<div id="main">
  <!-- Header -->
  <header id="header">
    <nav>
      <h1>TriShop</h1>
      <ul>
        <li><a href="#"><span class="label"></span></a>News</li>
        <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
      </ul>
      <ul>
        <li><a href="https://twitter.com/?lang=es" target="_blank" class="icon fa-twitter"><span
          class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/" target="_blank" class="icon fa-facebook"><span
          class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/?hl=es" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
  </main>
  <!-- Footer -->
  <footer id="footer">
    <span class="copyright">&copy;Copyright.</span>
  </footer>

</div>
